.menu {
    display: inline;
    padding: 50px;
    font-size: 18px;
}

#titulo {
    font-size: 28px;
    color: blue;
}

.sub-titulo {
    font-size: 18px;
    color: navy;
}

.cartao {
    background-color: cornflowerblue;
    width: 25%;
    height: 100px;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 200px;
}

.cartao-maior {
    margin-top: 100px;
    width: 50%;
    background-color: crimson;
    height: 150px;
}

